* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
}

.container {
    width: 1200px;
    height: auto;
    margin: 10px auto;
}

.container::after {
    clear: both;
    display: table;
    content: "";
}

.box::after {
    clear: both;
    display: table;
    content: "";
}

.box {
    width: 1000px;
    height: auto;
    margin: 0px auto;
}

.box1 {
    width: 20%;
    height: 50px;
    float: left;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4.8px;
    outline: 0;

}

.modal-body {
    padding: 16px;
}

.modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 16px;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
}

.modal-footer > :not(:first-child) {
    margin-left: 4px;
}

.btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 16px;
}

h5.modal-title {
    font-size: 24px;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#cart {
    font-size: 15px;
    color: #fff;
    background: rgb(76, 207, 193);
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 16px;
    padding: 12px;
    cursor: pointer;
}

#cart:hover {
    border-color: #fff;
}

/* cart */
.cart-header {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 24px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 19.2px;
    color: #333;
}

.cart-quantity {
    width: 35%;
}


.cart-item-image {
    width: 75px;
    height: 100px;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: 4.8px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 19.2px;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 17.6px;
}

.box .boxse {
    width: 60%;
    height: 20px;
    border: 1px solid silver;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 15px;
    right: 20px;
    margin-bottom: 0px;
}

.box img {
    width: 60%;
    margin-right: 300px;
    position: relative;
    left: 20%;
}

.boxse img {
    position: relative;
    left: 96%;
    width: 3%;
}

.bigbox {
    width: 1200px;
    height: auto;
    background-color: rgb(76, 207, 193);
}

.bigbox::after {
    clear: both;
    display: table;
    content: "";
}

.header {
    width: 1050px;
    height: 25px;
    margin-left: 80px;

}

.menu li {
    font-family: arial;
    list-style-type: none;
    font-weight: bold;
    float: left;
    margin-top: 5px;
    border-right: 1px solid white;
    height: 15px;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 22px;
    padding-left: 22px;
    text-align: center;
}

.bigbox2 {
    width: 1200px;
    height: 400px;
    background-color: rgb(61, 196, 182);
}

.bigbox21 {
    width: 600px;
    height: 300px;
    margin: 40px auto;
    position: relative;
    top: 70px;
}

.bigbox21 img {
    position: relative;
    right: 30px;
}

.shopnow {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid white;
    margin-left: 275px;
    margin-top: 50px;
    padding-top: 15px;
    padding-left: 3px;

}

.shopnow a {
    padding-left: 7px;
    padding-right: 0px;
    color: white;
    font-size: 14px;
    font-family: arial;
    font-weight: 700;
}

.bigbox21 img {
    float: left;
}

.bigbox21 h5 {
    color: white;
    font-size: 35px;
    font-family: arial;
}

.bigbox3::after {
    clear: both;
    display: table;
    content: "";
}

.bigbox3 {
    width: 1200px;
    height: auto;
    border-right: 2px solid silver;
}

.bigbox31 {
    width: 33%;
    height: 150px;
    float: left;
    padding-left: 50px;
    padding-top: 10px;

    border-left: 2px solid silver;
}

.bigbox31 img {

    float: left;
    height: 130px;
}

.bigbox31 h2 {
    font-size: 20px;
    color: gray;
    position: relative;
    top: 15%;
}

.bigbox32 {
    color: white;
    float: left;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(61, 196, 182);
    padding-top: 8px;
    padding-left: 8px;
    margin-top: 40px;
}

.bigbox4::after {
    clear: both;
    display: table;
    content: "";
}

.bigbox4 {
    width: 1200px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(61, 196, 182);
    padding-left: 100px;
    padding-top: 10px;
}

.bigbox51::after {
    clear: both;
    display: table;
    content: "";
}

.bigbox5 {
    width: 1200px;
    height: auto;
    border: 3px solid rgb(61, 196, 182);
    margin-top: 0px;
    margin-bottom: 0px;
}

.bigbox51 {
    width: 850px;
    height: 700px;
    margin: auto;


}

.bigbox52 {
    width: 30%;
    height: 300px;
    border: 1px solid silver;
    float: left;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 20px;
    font-size: 20px;
    color: gray;
    border-bottom: 5px solid rgb(61, 196, 182);
}

.bigbox52 img {
    width: 80%;
    position: relative;
    top: 5px;
    left: 25px;
}

.bigbox52 .write {
    font-size: 20px;
    position: relative;
    left: 60px;
}

.bigbox52 p {
    font-size: 20px;
    position: relative;
    left: 100px;
    bottom: 0px;
}

.bigbox53 {
    color: #FFFFFF;
    float: left;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(61, 196, 182);
    position: relative;
    left: 80px;
    bottom: 0px;

}

.bigbox53 a {
    padding-top: 8px;
    padding-right: 0px;
    padding-left: 0;
    display: flex;
    justify-content: center;

}

.bigbox54 {
    border: 1px solid black;
    position: relative;
    top: 35px;
}

.footer {
    width: 100%;
    background-color: rgb(61, 196, 182);
    display: flex;
}

.ftcolumn {
    flex-basis: 25%;
    color: white;
    margin: 20px;
    position: relative;
    left: 100px;
}

.ftcolumn a {
    color: white;
    font-size: 20px;
    padding: 0px;
}

.ftcolumn h3 {
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
}

.ftcolumn ul {
    display: flex;
    flex-direction: column;
}

.ftcolumn li {
    list-style-type: none;
    margin: 0;
    line-height: 2;
    font-size: 20px;
}

.ftcolumn img {
    border-radius: 50%;
    position: relative;
    left: 75px;
    width: 75%;
}

.last {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

a:hover {
    color: tomato;
}